<a href="https://colab.research.google.com/github/geriang/081022/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [3]:
# you do not need quotation marks when declaring variables in Python. 
balloon = 10
print(balloon)

x = 15
print (x)

10
15

In [4]:
#this is a snake case
this_is_another_variable=100
print(this_is_another_variable)

100

In [5]:
a = 12
b = 3.142
c = "the quick brown fox"
d = "it's a sunny day ain't it"
# escape characters 
e = "the \"laser\" beam"
# string literal
f = '''
this is a string literal hahahha
see how it goes 
one two 
three
'''
g = False
h = True
print(f)

this is a string literal hahahha
see how it goes
one two
three

In [6]:
x = 1/3
print (x)

y = 1//3
print (y)

a = 2%2
print (a)

b = 3%2
print (b)

0.3333333333333333
0
0
1

In [9]:
user_input_number= input("please enter a whole number")
user_input_number= int(user_input_number) 
multiply = user_input_number * 2
print (multiply)

please enter a whole number4
8

In [30]:
x = input("Please enter your weight(kg):")
y = input("Please enter your height(cm):")
weight = float(x)
height = float(y)
z = weight*weight/height
BMI = round(z,2)
print(f"your BMI score is: {BMI}")

Please enter your weight(kg):60
Please enter your height(cm):178
your BMI score is: 20.22

In [50]:
def f(x): 
  return x+10

# Google Colab will always print the last line of your code
print(f(10))

20

In [54]:
def multi(x):
  return x*2

print(multi(2))

4

In [55]:
def f(multi):
  return multi*2

print(f(2))

4

In [71]:
def xyz(a,b,c):
  return a*2,b*3,c*4

test = xyz(1,2,3)

print(test[2])

12

In [68]:
def multiply(a,b):
  return a*b

print(multiply(3,2))

6

In [59]:
weight = float(input("what is your weight in kg?"))
height = float(input("what is your height in cm?"))


def bmi(weight,height):
  return round((weight**2/height),2)

print(f"your bmi is {bmi(weight,height)}")

what is your weight in kg?60
what is your height in cm?177
your bmi is 20.34

In [64]:
x = int(input("Enter an integer:"))
y = x%2
if  y == 0:
 print(f"{x} is an even number.")
else:
  print(f"{x} is an odd number.")

Enter an integer:10
10 is an even number.

In [94]:
x = int(input("please enter today's PSI reading"))

if x <=50:
  print("The air quality is healthy")


elif x >=51 and x <=99:
  print("The air quality is moderate")

else:
  print("The air is unhealty")

please enter today's PSI reading0
The air quality is healthy

In [95]:
x = 10
while x <=15:
  print (x)
  x=x+1

10
11
12
13
14
15

In [104]:
for x in range(10,16,1):
 print(x)

10
11
12
13
14
15

In [ ]:
x = int(input("key in a three digit number."))
while x <100 or x >999:
 x = int(input("key in a 3 digit number"))
print("you have keyed in a 3 digit number")

In [ ]:
x = int(input("key in"))
while x <1000 and x > 99:
  x = int(input)